<div class="pagoCurso">
    <div class="pagoCurso__header">
        <h2 mat-dialog-title>Pagar de curso</h2>
        <mat-dialog-actions>
            <button mat-dialog-close aria-label="close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-dialog-actions>
    </div>
    <mat-dialog-content>
        <div class="form-pagoCurso">
            <form [formGroup]="pagoCursoForm" class="form-pagoCurso__form" (ngSubmit)="procesarPago()">
                <div class="fields-grid">
                    <mat-form-field>
                        <mat-label>Serie</mat-label>
                        <input matInput formControlName="numeroserie" style="text-transform: uppercase;"
                            (input)="pagoCursoForm.get('numeroserie')?.setValue($any($event.target).value.toUpperCase())" />
                        @if (pagoCursoForm.get('numeroserie')?.hasError('required')) {
                        <mat-error>Campo obligatorio</mat-error>
                        }
                        @if (pagoCursoForm.get('numeroserie')?.hasError('maxlength')) {
                        <mat-error>No debe superar 10 caracteres</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="fechapago">
                        <mat-datepicker #datepicker />
                        <mat-datepicker-toggle [for]="datepicker" matSuffix />
                        @if (pagoCursoForm.get('fechapago')?.hasError('required')) {
                        <mat-error>Campo obligatorio</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="form__inputs">
                        <mat-label>Medio de pago</mat-label>
                        <mat-select formControlName="idmetodosdepago" required>
                            @for (metodo of metodosDePago; track $index) {
                            <mat-option [value]="metodo.idmetodosdepago">{{metodo.idmetodosdepago}} -
                                {{metodo.nombre}}</mat-option>
                            }
                        </mat-select>
                        @if (pagoCursoForm.get('idmetodosdepago')?.hasError('required')) {
                        <mat-error>Campo obligatorio</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="form-pagoCurso__field left">
                        <mat-label>Monto total</mat-label>
                        <input matInput formControlName="montototal" readonly />
                        <span matPrefix>S/&nbsp;</span>
                        @if (pagoCursoForm.get('montototal')?.hasError('required')) {
                        <mat-error>Campo obligatorio</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="form-pagoCurso__field left">
                        <mat-label>Observacion</mat-label>
                        <textarea matInput formControlName="observaciones" rows="2"></textarea>
                    </mat-form-field>
                </div>

                <mat-dialog-actions class="pago-actions">
                    <button [disabled]="pagoCursoForm.invalid" class="form__btn--save">
                        Procesar
                    </button>
                    <button mat-button mat-dialog-close aria-label="close">
                        Cancelar
                    </button>

                </mat-dialog-actions>
            </form>

        </div>
    </mat-dialog-content>

</div>