.configuracion-page{
    margin: var(--space-xs) var(--space-lg);
}
.form_configuracion-membresia{
    display: flex;
    justify-content: space-between;
    width: 100%;


}
// .form_configuracion-membresia mat-form-field {
//     flex: 1 1 250px;
// }

// .form_configuracion-membresia mat-slide-toggle{
//     flex: 1 1 250px;
//     margin-top: 10px;
// }