<div class="configuracion-page">
    <mat-tab-group>
        <mat-tab label="Membresias Miembros">
            <div class="tab-content-container">
                <form class="form-grid" [formGroup]="configuracionMembresiaFormGroup" (ngSubmit)="actualizarConfiguracion()">
                    <mat-form-field class="full-width">
                        <mat-label>Descripción</mat-label>
                        <input formControlName="descripcion" matInput placeholder="Ej. Membresía Premium" required>
                        @if (configuracionMembresiaFormGroup.get('descripcion')?.hasError('required')) {
                        <mat-error>Campo obligatorio</mat-error>
                        }
                        @if (configuracionMembresiaFormGroup.get('descripcion')?.hasError('soloEspacios')) {
                        <mat-error>No se permiten espacios en blanco</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Monto para membresía S/</mat-label>
                        <input formControlName="montoparamembresia" type="number" matInput>
                        @if (configuracionMembresiaFormGroup.get('montoparamembresia')?.hasError('required')) {
                            <mat-error>Campo obligatorio</mat-error>
                        }
                        @if (configuracionMembresiaFormGroup.get('montoparamembresia')?.hasError('min')) {
                            <mat-error>El monto mínimo es 1</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Frecuencia de meses</mat-label>
                        <input formControlName="frecuenciamesesrenovacion" type="number" matInput>
                        @if (configuracionMembresiaFormGroup.get('frecuenciamesesrenovacion')?.hasError('required')) {
                            <mat-error>Campo obligatorio</mat-error>
                        }
                        @if (configuracionMembresiaFormGroup.get('frecuenciamesesrenovacion')?.hasError('min')) {
                            <mat-error>Mes mínimo es 1</mat-error>
                        }

                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Días para pagar</mat-label>
                        <input formControlName="cantidaddediasparapagar" type="number" matInput>
                        @if (configuracionMembresiaFormGroup.get('cantidaddediasparapagar')?.hasError('required')) {
                            <mat-error>Campo obligatorio</mat-error>
                        }
                        @if (configuracionMembresiaFormGroup.get('cantidaddediasparapagar')?.hasError('min')) {
                            <mat-error>Día mínimo es 1</mat-error>
                        }
                    </mat-form-field>

                    <div class="toggle-container">
                        <mat-slide-toggle formControlName="activo" color="primary">Activo</mat-slide-toggle>
                    </div>
                    <button [disabled]="configuracionMembresiaFormGroup.invalid" class="form__btn--save">Guardar</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Otros"> otros </mat-tab>
    </mat-tab-group>

</div>