.configuracion-page {
    padding: var(--space-xs) var(--space-lg);
}

.tab-content-container {
    padding: 24px 0; 
    max-width: 800px; 
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: var(--space-md) var(--space-xl); 
    align-items: center;
}

.full-width {
    grid-column: span 2;
}

mat-form-field {
    width: 100%;
}

.toggle-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 1.25em; 
}


@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .full-width {
        grid-column: span 1;
    }
}