<div class="pagos">
    <div class="pagos__content">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Estado de cuenta">
                <app-lista-general-estudiantes></app-lista-general-estudiantes>
            </mat-tab>
            <mat-tab label="Reporte de pagos membresias">
                <app-reporte-membresia-pagos></app-reporte-membresia-pagos>
            </mat-tab>
            <mat-tab label="Reporte de pagos cursos">
                <app-reporte-curso-pagos></app-reporte-curso-pagos>
            </mat-tab>
            <mat-tab label="Reporte detallado de pagos membresias">
                <app-reporte-pago-detallado-membresia></app-reporte-pago-detallado-membresia>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>