<div class="reporte-asistencias">
    <div class="cabecera">
        <form action="" [formGroup]="filtroForm" (ngSubmit)="buscar()" class="filtro__form">
            <mat-form-field class="filtro__campo" subscriptSizing="dynamic">
                <mat-label>Fecha inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matIconSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="filtro__campo" subscriptSizing="dynamic">
                <mat-label>Fecha fin</mat-label>
                <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin"
                    [min]="filtroForm.get('fechaInicio')?.value">
                <mat-datepicker-toggle matIconSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="filtro__campo">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="primary" [disabled]="filtroForm.invalid" (click)="buscar()">
                Buscar
            </button>
        </form>

    </div>
</div>