.error-title{
      background: #FF3B3B;
      color:#FFFFFF;
      text-align: center;
    }
    button {
    background: #C0392B;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 2.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
  }
  
  button:hover {
    background: #E23333;
    box-shadow: 0 4px 8px rgba(255, 59, 59, 0.5);;
    transform: translateY(-2px);
  }
  
  button:active {
    background: #E23333;
    box-shadow: 0 2px 4px rgba(255, 59, 59, 0.5);;
    transform: translateY(0);
  }