<div class="section-card">
    <div class="secction-membresia">
        @if (_store.cargando$ | async) {
        <div>
            Cargando...
        </div>
        }
        <!-- Lista de Membresias -->
        <div class="membresia-grid">
            @for (membresia of listaMembresiasPaginada; track $index) {
            <mat-card class="membresia-card" appearance="outlined">
                <div class="membresia-detalle">
                    @if (membresia.montoesperado - membresia.montopagado > 0) {
                    <mat-checkbox [(ngModel)]="membresia.seleccionada"
                        (change)="membresiasSeleccionada(membresia)"></mat-checkbox>
                    } @else {
                    <mat-icon style="color: green; margin-right: 8px;">check_circle</mat-icon>
                    }
                    <div class="membresia-info">
                        <mat-card-title> {{membresia.descripcionmembresia}} <span> | Total:
                                S/{{membresia.montoesperado}} </span></mat-card-title>
                        <mat-card-subtitle [ngClass]="getClassFecha(membresia)" class="month-status">
                            Vence:
                            {{membresia.fechalimitedepago |
                            date:'dd/MM/yyyy' }}</mat-card-subtitle>
                        <mat-card-subtitle class="info-pago-container">
                            <div class="periodo-badge">
                                <span> Cobertura: {{membresia.fechainicio | date:'dd MMM'}} -
                                    {{membresia.fechavencimientosugerida |
                                    date:'dd MMM'}}</span>
                            </div>

                            <div class="montos-group">
                                <span class="monto-item pagado">
                                    Pagado: <strong>S/{{membresia.montopagado}}</strong>
                                </span>

                                <span class="monto-item pendiente">
                                    Pendiente: <strong>S/{{membresia.montoesperado - membresia.montopagado}}</strong>
                                </span>
                            </div>
                        </mat-card-subtitle>
                    </div>
                </div>
                <div class="membresia-precio">
                    @if (membresia.montoesperado - membresia.montopagado > 0) {
                    <input type="text" class="input-pago" (keypress)="soloNumeros($event)"
                        (input)="validarMonto($event, membresia)" [disabled]="membresia.seleccionada"
                        [value]="membresia.montoAbonar" />
                    <small class="descricion-input">Monto a pagar</small>
                    }
                </div>
            </mat-card>
            }
            <!-- Deuda Global -->
            @if (_store.reporte$ | async; as reporte) {
            <span class="deuda-global">
                Deuda total pendiente: S/{{ reporte.deudaTotal }}
            </span>
            }


            <div class="pagination-container">
                <div class="pagination-placeholder">
                    <mat-paginator [length]="totalListaSoloMembresias.length" [pageSize]="tamanioPagina"
                        [pageIndex]="indexPagina" (page)="manejarCambioDePagina($event)" aria-label="seguiente">
                    </mat-paginator>
                </div>
            </div>


        </div>


        <!-- Resumen de Pago (Sidebar o Card Flotante) -->
        <div class="payment-summary">
            <div class="">
                <h3 class="summary-title">Resumen de pagos</h3>

                <div class="summary-row">
                    <span>Membresías seleccionadas</span>
                    <span class="summary-value">: {{cantidadSeleccionadas}}</span>
                </div>

                <div class="summary-divider"></div>

                <div class="summary-total">
                    <span>Total a pagar: </span>
                    <span class="total-amount"> S/ {{totalSeleccionado | number:'1.2-2'}}</span>
                </div>

                <button class="form__btn--save" [disabled]="cantidadSeleccionadas<=0 && totalSeleccionado<=0"
                    (click)="abrirProcesarPagoMembresia()">
                    Pagar
                </button>
            </div>
            <br>
            <span>Ver los ultimos pagos</span>

        </div>


    </div>

</div>