.container_all {
  max-width: 650px;
  background-color: var(--color-background);
  border-radius: var(--radius-md, 10px);
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  box-shadow: var(--shadow-md);
}

.container__title mat-dialog-actions button {
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container__title mat-dialog-actions button:hover {
  border-radius: var(--radius-md);
  background-color: var(--color-secondary);
}

mat-dialog-content p{
  color: var(--color-text-secundary);
  span{
    font-weight: bold;
  }
}
.form_pasarmiembro{
   display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: var(--space-md) var(--space-xl); 
    align-items: center;
  }

  @media (max-width: 450px) {
.form_pasarmiembro{
    grid-template-columns:  1fr;
  }
  .container__title h2{
    font-size: medium;
  }
  }