<div class="container-reporte">
    <div class="cabecer__reporte">
        <app-cabecera-reporte-pagos (filtro)="manejarFiltroFechas($event)"></app-cabecera-reporte-pagos>

    </div>
    <div class="table__reporte">
        <app-smart-table [datos]="dataReporte" [columnas]="columnas" [mostrarBusquedaGlobal]="true"
            [mostrarPaginacion]="true" (accionEmitida)="manejarEventoTabla($event)" claveColumnaEstado="estado"
            valorEstado="Anulado"
            [nombreReporte]="'ReporteCurso_'">
        </app-smart-table>
    </div>

</div>