.curso_add{
    margin: 0 var(--space-xxl);
}
.curso_add-form {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 100%; 
  margin-top: var( --space-xs);
}
.curso_add-field{
  width: 100%;
}