<div class="form-periodo">
  <form [formGroup]="periodoForm" (ngSubmit)="guardarPeriodo()" class="form-periodo__form" >
    <mat-form-field class="form-periodo__field">
      <mat-label>Nombre periodo</mat-label>
      <input  matInput  formControlName="nombreperiodo" required="required"/>
      @if (periodoForm.get('nombreperiodo')?.hasError('required')) {
        <mat-error>Campo obligatorio</mat-error>
      }
      @if (periodoForm.get('nombreperiodo')?.hasError('soloEspacios')) {
         <mat-error>Formato inválido</mat-error>
      }
    </mat-form-field>
    <button [disabled]="periodoForm.invalid" class="form__btn--save">Guardar</button>
  </form>
</div>