<div class="cursos"> 
    <div class="cursos__content">
        <mat-tab-group #tabs
        [selectedIndex]="tabActivoIndex"        
        mat-stretch-tabs="false" 
        mat-align-tabs="start">
            <mat-tab label="Lista de cursos">
                <div class="cursos__section content">
                    <div class="cursos__section-cards">
                        <mat-card class="curso-card" appearance="outlined">
                            @if (cargando==true) {
                            <div class="loading-spinner">
                                <div class="spinner"></div>
                                <p class="loading-spinner__text">Cargando...</p>
                            </div>
                            }
                            @else {
                                <app-lista-cursos  
                                (datosDelCurso)="verListDeInscritos($event)"                               
                                [listaDeCursos]="cursos"
                                (cursoAEliminar)="eliminarCurso($event)"
                                (cursoEditar)="cursoAEditar($event)"

                                ></app-lista-cursos>
                            }
                        </mat-card>
                        <mat-card class="curso-card" appearance="outlined">
                            <app-agregar-curso
                                [listaperiodos]="periodos"  
                                (cursoGuardado)="guardarCurso($event)"
                                [cursoParaEditar]="curso"
                                (cursoEditado)="actualizarCurso($event)"
                                                       >
                            </app-agregar-curso>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Lista de inscritos en el curso">
                <div class="inscripciones__section content">
                    <app-lista-inscripcion
                    [curso]="cursoParaVerListaDeInscritos"
                    ></app-lista-inscripcion>
                </div>
            </mat-tab>
            <mat-tab label="Pagos de cursos">Pagos de cursos</mat-tab>
        </mat-tab-group>
    </div>
</div>